<mat-card *ngIf="movie" class="card mat-typography">

  <div class="image-container" mat-card-image>
    <img class="poster" [src]="movie.getposterUrl() | safe">
    <div class="overlay"></div>
    <div class="title">
      <h2>{{movie.name[0] | uppercase}}</h2>
      <p class="mat-body-strong">{{movie.director[0] | uppercase}}</p>
      <p class="mat-small">{{movie.country | uppercase}}, {{movie.getYear() }}</p>
    </div>
  </div>

  <mat-card-content class="info-container">
    <div class="options">
      <h3 
      class="option"
      [class.active]="optionSelected == 'storyline'"
      (click)="selectOption('storyline')">Storyline
      </h3>
      <h3 
      class="option"
      [class.active]="optionSelected == 'details'"
      (click)="selectOption('details')"
      >Details</h3>
      <app-share-movie-buttons id="share-buttons" [movie]="movie"></app-share-movie-buttons>
    </div>
    <p *ngIf="optionSelected == 'storyline' " class="mat-body-strong">
      {{movie.storyline}} 
    </p>

    <ul *ngIf="optionSelected == 'details' " class="list-details">
        <li>
          <h3 class="list-details-type">Director:</h3>
          <h3>{{movie.director[0]}}</h3>
        </li>
        <li>
          <h3 class="list-details-type">Genres: </h3>
          <h3>{{movie.genre}}</h3>
        </li>
        <li>
          <h3 class="list-details-type">Country: </h3>
          <h3>{{movie.country}}</h3>
        </li>
        <li>
          <h3 class="list-details-type">Language:</h3>
          <h3>{{movie.language}}</h3>
        </li>
        <li>
          <h3 class="list-details-type">Release Date:</h3>
          <h3>{{movie.releaseDate}}</h3>
        </li>
        <a id="imdb" style="color: rgba(255, 255, 255, 0.5);" target="_blank" [href]=" movie.movieLinks.imdb | safe">
          <div id="imdb-container"></div>
          <h3 id="imdb-link">More info about {{movie.name[0]}} </h3>
        </a>
    </ul>

  </mat-card-content>

</mat-card>