<mat-card [ngClass]="addClasses ? 'fitFilter' : ''" class="filter-card">

  <form [formGroup]="filterForm" class="filter-container" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">

    <!-- select years and genre  -->
    <div class="year-container">
      <app-select-years [years]="years" (allChange)="selectYearAllChange($event)"
        (emitControl)="setControl($event.name,$event)"></app-select-years>
      <mat-form-field class="genre-container">
        <mat-select placeholder="Genres" formControlName="genre" multiple>
          <mat-option class="select-genre" *ngFor="let genre of genres" [value]="genre">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- select country,artMovement,language  -->
    <div class="first-column">
      <app-mat-form-field-options placeholder="Country" [options]="countries"
        (emitControl)="setControl('country',$event)"></app-mat-form-field-options>

      <app-mat-form-field-options placeholder="Art Movement" [options]="artMovement"
        (emitControl)="setControl('artMovement',$event)"></app-mat-form-field-options>

      <app-mat-form-field-options placeholder="Language" [options]="languages"
        (emitControl)="setControl('language',$event)"></app-mat-form-field-options>
    </div>

    <!-- select runtime and color -->
    <div class="runtime-color-container">
      <app-select-runtime [minValue]="minRuntime" [maxValue]="maxRuntime"
        (emitControl)="setControl($event.name,$event)">
      </app-select-runtime>
      <div class="color-container">
        <mat-checkbox 
         [checked]="color"
         (change)="OnColorCheckBoxChange('color')"
          [labelPosition]="labelPosition">Color</mat-checkbox>
        <mat-checkbox
         [checked]="blackWhite"
          [labelPosition]="labelPosition"
          (change)="OnColorCheckBoxChange('blackWhite')"
          >Black&White</mat-checkbox>
      </div>
    </div>

    <button
     [ngClass]="addClasses ? 'fitSubmit-button' : ''"
     class="submit-button" type="submit"
      mat-raised-button color="primary">Search</button>
  </form>

  <button mat-icon-button (click)="onReload()" class="icon-reload">
    <mat-icon matSuffix><i class="material-icons">cached</i></mat-icon>
  </button>

</mat-card>