<form [formGroup]="resetPasswordForm" #form class="form mat-typography" (ngSubmit)="onSubmit()">

  <div class="forgot-password-container">

    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" [appPasswrodVisibility]="showPassword">
      <mat-error *ngIf="isFieldValid('password')">{{getErrorMessage('password')}}</mat-error>
      <app-show-hide-password-icon [show]="showPassword" (showPassword)="showHidePassword($event)"
        class="password-icon"></app-show-hide-password-icon>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" [hideRequiredMarker]="true">
    <mat-label>Re-enter Password</mat-label>

    <input matInput 
    formControlName="confirmPassword" 
    [errorStateMatcher]="matcher"
    [appPasswrodVisibility]="showPassword" 
    type="password">

    <mat-error *ngIf="isFieldValid('confirmPassword')">{{getErrorMessage('confirmPassword')}}</mat-error>
    <app-show-hide-password-icon [show]="showPassword" (showPassword)="showHidePassword($event)" class="password-icon">
    </app-show-hide-password-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" id="button-login" type="submit">Reset password</button>

</form>