.movies-container{
    width: 1245px;
    margin: auto;
    margin-bottom: 25px;
    color: white;
}
.movie{
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
}
.title{
    margin-left: 10px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1244px) {
    .movies-container{
        width: 830px;
    }
} 

@media only screen and (max-width: 839px) {
    .movies-container{
        width: 340px;
    }
} 

@media only screen and (max-width: 340px) {
    .movies-container{
        width: 305px;
    }
} 
 
