.white-space{
    width: 200px;
    height: 100px;
    margin: auto;
}
.search-box{
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 50px;
    width: 170px;
}
.login-register{
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 700;
    color: white
}
.clickeable:hover{
    cursor: pointer;
}
.options-container{
    color: grey;
    display: flex;
    width: 300px;
    margin-left: 22%;
}
.options-container :nth-child(2),
.options-container :nth-child(3){
    margin-left: 15px;
}
.option{
    font-size: 18px;
    margin-bottom: 0px;
    cursor: pointer;
}
.option:hover,.active{
    color: white;
    text-decoration: underline; 
}
.filter-show-button{
    margin-left: -12px; 
}
.icon-reload{
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
}
.content{
   position: absolute;
   width: 100vw;
   top: calc(80vh + 80px);
   z-index: 701;
}
.appfilter{
    margin-bottom: 200px;
}
#filter-container{
    margin-bottom: 20px;
}
#noFound{
    color: white;
    font-size: 30px;
    text-align: center;
}
.overlay{
    z-index: 998;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
@media only screen and (max-width: 1200px) {
    .options-container{
        margin-left: calc(50% - 330px);
    }
} 
@media only screen and (max-width: 716px) {
    .options-container{
        margin-bottom: 8px;
        margin-left: calc(50% - 172px);
    }
} 
@media only screen and (max-width: 340px) {
    .options-container{
        margin-bottom: 8px;
        margin-left: calc(50% - 152px);
    }
} 

