<app-toolbar (onRedirect)="scrolltop()"></app-toolbar>
<app-main-header></app-main-header>

<div class="content">

    <div id="filter-container">
        <app-filter *appShowWithin="desktopRange" (OnMoviesSearch)="searchByFilter($event)"></app-filter>
    </div>

    <ng-container *ngFor="let movie of movies$ | async; let last = last">
        <app-intersection-observer-list *ngIf="last" [list]="movies$" (onIntersection)="onIntersection()">
        </app-intersection-observer-list>
        <app-movie-preview *appShowWithin="desktopRange" [movie]="movie"
            (OnMovieInformation)="OnMovieInformation(movie.id)"></app-movie-preview>
        <app-movie-preview-mobile *appShowWithin="mobileRange" [movie]="movie"
            (OnMovieInformation)="OnMovieInformation(movie.id)">
        </app-movie-preview-mobile>
        <div *ngIf="last" class="white-space"></div>
    </ng-container>
    
    <div *ngIf="(movies$ | async)?.length == 0" class="mat-typography">
        <h2 id="noFound">No movies found</h2>
    </div>
    
</div>