.form{
    margin: auto;
    width:auto;
    max-width: 400px;
    height:85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#error-card{
    margin-bottom: 10px;
}

.button-submit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.forgot-container{
    display: flex;
    flex-direction: column;
}