/* You can add global styles to this file, and also import other style files */

/* MAT SELECTED TEXT COLOR  */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: rgb(253, 253, 253) !important;
}
/* MATERIAL CHECK BOX COLOR  */
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
    background-color: #7E57C2 !important;
}
/* INPUT BACKGROUND COLOR */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #424242 inset;
}

/* NG SLIDER COLOR */
.runtime-container .ng5-slider .ng5-slider-pointer{
    height: 12px !important;
    width: 12px !important;
    top:-4px;
    background-color: #7E57C2;
 }
 .runtime-container .ng5-slider .ng5-slider-pointer:after{
    height: 0px !important;
    width: 0px !important;
 }
 .runtime-container .ng5-slider .ng5-slider-selection {
    background: #7E57C2 !important; 
 }

/* SCROLLBAR STYLES */ 
 ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-button{
   display: none;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #212121;
}
.snackbar{
    position: fixed;
    bottom: 0px;
    color: white !important;
    background: #212121 !important;
    width: 280px !important;
    margin: auto;
    left: calc(50% - 150px);
}
.selected{
    color:white;
    text-decoration: underline;
}
.clickeable:hover{
    cursor: pointer;
}